[submodule "submodules/tokuboilerplate-web"]
	path = submodules/tokuboilerplate-web
	url = git@github.com:birchpointswe/tokuboilerplate-web.git
[submodule "submodules/tokuboilerplate-lib"]
	path = submodules/tokuboilerplate-lib
	url = git@github.com:birchpointswe/tokuboilerplate-lib.git
